a, a:visited, a:active, a:hover {
    text-decoration: none;
}

body {
    background: #ffffff;
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
}

table {
    margin: auto;
    padding: 1em;
}

td {
    padding: 0.5em;
}

tr:nth-child(even){
    background-color: #333;
}

tr:nth-child(odd){
    background-color: #222;
}

#absent {
    float: left;
}

#present {
    float: right;
}

#baseboard {
    position: fixed;
    bottom: 0.5em;
}

.baseboard-button {
    padding: 1em;
    width: auto;
    display: inline-block;
}

.transparent-box {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.5em;
    background-color: rgb(255,255,255);
    background-color: rgba(0,0,0,0.50);
    color: white;
}

.people-list {
    padding: 1em;
}

.list-header {
    padding: 0.5em;
    font-size: xx-large;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.person {
    padding: 1em;
    margin: 0.5em;
    width: auto;
    text-align: center;
}
