{% extends "base.html.j2" %}

{% block title %}Sign in Board{% endblock %}

{% block body %}
<div id="absent" class="people-list">
  <div class="list-header transparent-box">
    Out
  </div>
  {% for person in people %}
  <a href="tap-in/{{ person.id }}">
    <div class="person transparent-box">
      {{ person.name }}<br />
      ({{ person.alias }})
    </div>
  </a>
  {% endfor %}
</div>
<div id="present" class="people-list">
  <div class="list-header transparent-box">
    In
  </div>
  {% for person in present %}
  <a href="tap-out/{{ person.id }}">
    <div class="person transparent-box">
      {{ person.name }}<br />
      ({{ person.alias }})
    </div>
        </a>
  {% endfor %}
</div>
{% endblock %}

{% block baseboard %}
    <a href="log">
        <div class="transparent-box baseboard-button">
            Log
        </div>
    </a>
    <a href="new">
        <div class="transparent-box baseboard-button">
            New
        </div>
    </a>
{% endblock %}
