{% extends 'base.html.j2' %}

{% block title %}New User{% endblock %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="transparent-box">
            {{ form }}
            <tr>
                <td colspan=2>
                    <center>
                        <input type="submit" value="Submit">
                    </center>
                </td>
            </tr>
        </table>
    </form>  
{% endblock %}

{% block baseboard %}
    <a href="{% url 'board' %}">
        <div class="transparent-box baseboard-button">
            Board
        </div>
    </a>
{% endblock %}
